.top{
    width:100%;
    height: 50px;
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url("https://wallpaperaccess.com/full/284466.jpg");
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
} 
/* Giu topbar luon o tren cung */   

.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.topImg{
    width: 40px;
    height: 40px;
    border: radius 50%;
    object-fit: cover;
    cursor: pointer;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}


.topCenter{
    flex: 6;
    
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18x;
    font-weight: 300;
    cursor: pointer;
    font-weight: bold;

}

.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 18px;
}